.boxes{
	padding: 5px 10px;
	margin: 10px;
	vertical-align: top;
}

.boxes > div {
	margin-top: 0.5em;
	line-height: 110%;
}

.boxes a {
	display: block;
	text-align: center;
	color: black;
	text-decoration: none;
}

.pop > div {
	display: none;
}

.img img {
	margin-left: 0.5em;
	display: block;
}

.img {
	width: 35%;
	display: inline-block;
	float: right;
	text-align: center;
}
