#c {
 transform: rotate(-10deg);
 -webkit-transform: rotate(-10deg);
 -moz-transform: rotate(-10deg);
 -ms-transform: rotate(-10deg);
 -o-transform: rotate(-10deg);
}

q {
 quotes: "“" "”";
}

#tpas {
 display: inline-block;
 padding: 5px;
 font-size: 40px;
 font-family: "Futura Condensed";
 font-variant: small-caps;
 color: white;
}

@font-face {
 font-family: "Futura Condensed";
 src: url("Futura Condensed Bold.ttf");
}

#links {
 height: 60px;
 text-align: justify;
 font-size: 60px;
 transform: rotate(-5deg);
 -webkit-transform: rotate(-5deg);
 -moz-transform: rotate(-5deg);
 -ms-transform: rotate(-5deg);
 -o-transform: rotate(-5deg);
 margin: -25px -5px 0px;
 padding: 0px 5px;
 background-color: #f0ea1a;
 font-family: "Futura Condensed", sans-serif;
 overflow: hidden;
 
/*  min-width: 400px*/
}
#links span {
 margin-top: -8px;
 height: 60px;
 display: inline-block;
 vertical-align: top;
}
#links:after {
  content: '';
  width: 100%;
  display: inline-block;
}

#content {
 margin: 0px 10%;
 font-size: 25px;
 margin-top: 0px;
 padding: 10px;
 padding-top: 70px;
 background-color: darkgray;
 border-radius: 0px 0px 10px 10px;
 text-align: justify;
}
#color {
 margin-left: auto;
 margin-right: 10%;
 margin-top: -50px;
 padding: 10px;
 height: 17px;
 width: 27%;
 background-color: darkgray;
}
p {
 margin-left: 20px;
}

body {
 background-color: #999;
 overflow-x: hidden;
 min-width: 1050px;
}