<!DOCTYPE html>

<html>
 <head>
  <title>{{ page.title }} – To Protect and Serve</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="css/reset.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link rel="stylesheet" href="css/gradient.css" />
  {% if page.stylesheet %}<link rel="stylesheet" href="css/{{ page.stylesheet }}" />{% endif %}
  {% if page.script %}<script type="text/javascript" src="js/{{ page.script }}"></script>{% endif %}
 </head>
 <body>
  <header>
   <div id="tpas">
   To Protect and Serve - {{ page.title }}
   </div>
   <div class="links">
    <a href=".">Home</a>
	<a href="timeline.html">Timeline</a>
	<a href="technology.html">Technology</a>
	<a href="consequences.html">Consequences</a>
	<a href="interview.html">Interview</a>
   </div>
   <div class="bkg">Caution<span class="spacer"></span>Caution</div>
  </header>
  <div id="color"></div>
  <div id="content">
   {{ content }}
  </div>
  <footer>
   <div id="sources"><a href="sources.html">Sources</a></div>
   <div id="copyright">Copyright © 2013. Website by students (TSA IDs) 1004, 1005, 1116, and 1118.</div>
  </footer>
 </body>
</html>
